# Pycache
**/__pycache__
**/**/__pycache__
**/.idea
**/.ipynb_checkpoints


.xml
**/**/.xml
**/**/.iml
Macquarie/uti/__pycache__
*.xml
*.xml
Citi/.idea/misc.xml
*.iml
*.iml
*.xml
*.xml
*.iml

**/**.xml
Macquarie/uti/__pycache__
Citi/.idea/workspace.xml
Citi/Broker/__pycache__/pnl.cpython-37.pyc
Citi/Broker/__pycache__/settings.cpython-37.pyc
Citi/Eikon/__pycache__/settings.cpython-37.pyc
Citi/Path/__pycache__/__init__.cpython-37.pyc
Citi/Path/__pycache__/settings.cpython-37.pyc
Citi/uti/__pycache__/dataloader.cpython-37.pyc
Goldman/.idea/Goldman.iml
Goldman/.idea/misc.xml
Citi/.idea/workspace.xml
Citi/Broker/__pycache__/pnl.cpython-37.pyc
Citi/Broker/__pycache__/settings.cpython-37.pyc
Citi/Eikon/__pycache__/settings.cpython-37.pyc
Citi/Path/__pycache__/__init__.cpython-37.pyc
Citi/Path/__pycache__/settings.cpython-37.pyc
Citi/uti/__pycache__/dataloader.cpython-37.pyc
Goldman/.idea/Goldman.iml
Goldman/.idea/misc.xml

